<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>业务影像管理</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../css/layui.css" media="all"/>
    <link rel="stylesheet" href="../css/global.css" media="all">
    <link rel="stylesheet" href="../css/dashboard.css" media="all">
    <link rel="stylesheet" href="../css/common.css" media="all">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/webuploader/webuploader.css" />
</head>

<body>
<iframe id="downloadFrame" src="" style="display: none;"></iframe>
<div class="admin-main">
    <form  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
        <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">流水号</label>
            <div class="layui-input-inline">
                <input type="text" id="billNo" class="layui-input">
            </div>
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" id="acctNo" class="layui-input">
            </div>
            <label class="layui-form-label">存款人名称</label>
            <div class="layui-input-inline">
                <input type="text" id="depositorName" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">操作类型</label>
            <div class="layui-input-inline">
                <select class="layui-input" id="billType">
                    <option value=""></option>
                    <option value="">请选择</option>
                    <option value="ACCT_INIT">存量</option>
                    <option value="ACCT_OPEN">开户</option>
                    <option value="ACCT_CHANGE">变更</option>
                    <option value="ACCT_SUSPEND">久悬</option>
                    <option value="ACCT_REVOKE">销户</option>
                </select>
            </div>
            <label class="layui-form-label">网点机构号</label>
            <div class="layui-input-inline">
                <input type="text" id="kernelOrgCode" class="layui-input">
            </div>
            <label class="layui-form-label">网点名称</label>
            <div class="layui-input-inline">
                <input type="text" id="kernelOrgName" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">审核状态</label>
            <div class="layui-input-inline">
                <select class="layui-input" id="status">
                    <option value=""></option>
                    <option value="">请选择</option>
                    <option value="WAITING_SUPPLEMENT">待补录</option>
                    <option value="NEW">新建</option>
                    <option value="APPROVING">审核中</option>
                    <option value="APPROVED">审核通过</option>
                    <option value="REJECT">驳回</option>
                    <option value="WAITING_CORE">待核心开户</option>
                </select>
            </div>
            <label class="layui-form-label">人行上报状态</label>
            <div class="layui-input-inline">
                <select class="layui-input" id="pbcSyncStatus">
                    <option value=""></option>
                    <option value="">请选择</option>
                    <option value="buTongBu">无需上报</option>
                    <option value="weiTongBu">未同步</option>
                    <option value="tongBuChengGong">上报成功</option>
                    <option value="tongBuZhong">处理中</option>
                    <option value="tuiHui">退回</option>
                    <option value="tongBuShiBai">上报失败</option>
                </select>
            </div>
            <label class="layui-form-label">影像上报状态</label>
            <div class="layui-input-inline">
                <select class="layui-input" id="imgaeSyncStatus">
                    <option value=""></option>
                    <option value="">请选择</option>
                    <option value="buTongBu">无需上报</option>
                    <option value="weiTongBu">未同步</option>
                    <option value="tongBuChengGong">上报成功</option>
                    <option value="tongBuZhong">处理中</option>
                    <option value="tuiHui">退回</option>
                    <option value="tongBuShiBai">上报失败</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">账户性质</label>
            <div class="layui-input-inline">
                <select name="acctType" class="layui-input" id="acctType" lay-filter="acctType">
                    <option value=""></option>
                    <option value="">请选择</option>
                    <option value="jiben">基本存款账户</option>
                    <option value="yiban">一般存款账户</option>
                    <option value="yusuan">预算单位专用存款账户</option>
                    <option value="feiyusuan">非预算单位专用存款账户</option>
                    <option value="teshu">特殊单位专用存款账户</option>
                    <option value="linshi">临时机构临时存款账户</option>
                    <option value="feilinshi">非临时机构临时存款账户</option>
                    <option value="yanzi">验资户临时存款账户</option>
                    <option value="zengzi">增资户临时存款账户</option>
                </select>
            </div>
            <label class="layui-form-label">申请日期</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input date-picker" id="beginDate" placeholder="开始时间"/>
            </div>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input date-picker" id="endDate" placeholder="结束时间"/>
            </div>
            <label class="layui-form-label">申请人</label>
            <div class="layui-input-inline">
                <input type="text" id="createdBy" class="layui-input">
            </div>
            <button type="button" id="btn_query"  class="layui-btn layui-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>

    </form>
    <script type="text/html" id="tpl">
        {{# layui.each(d.list, function(index, item){ }}

        {{# }); }}
    </script>
    <div  id="toolbar" class="layui-btn-group">
        <button class="layui-btn layui-btn-small" id="btn_view">
            查看
        </button>
        <button class="layui-btn layui-btn-small" id="btn_edit">
            补录
        </button>
    </div>

    <table id="list"></table>
</div>

<!--[if lt IE 9]>
<script src="../plugins/respond.min.js"></script>
<script src="../plugins/excanvas.min.js"></script>
<script src="../plugins/ie8.fix.min.js"></script>
<script src="../plugins/json2.js"></script>
<![endif]-->

<script type="text/javascript" src="../plugins/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../plugins/jquery.blockui.min.js" ></script>
<script type="text/javascript" src="../layui.js"></script>
<script type="text/javascript" src="../ag/common/util.js"></script>
<script type="text/javascript" src="../ag/common/laydateUtil.js"></script>
<script type="text/javascript" src="../ag/accttype/commonAcctType.js"></script>
<script type="text/javascript" src="../ag/imageInfo/billImageSyncManager.js"></script>

</body>

</html>
