
		<div style="margin: 15px;">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">企业名称</label>
					<div class="layui-input-block">
						<input type="text" name="entName" lay-verify="required" autocomplete="off" placeholder="请输入企业名称" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">白名单来源</label>
					<div class="layui-input-block">
						<select id="source" name="source">
							<option value="AMS">账管维护</option>
							<option value="">所有</option>
							<option value="CORE">核心同步</option>
							<option value="IMPORT">批量导入</option>
							<option value="OTHER">其他</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">机构</label>
					<div class="layui-input-block">
						<select id="orgId" name="orgId" lay-verify="required" lay-search="">
							<option value="">请选择所属机构</option>
						</select>
					</div>
					<div class="layui-input-block layui-word-aux">可通过搜索来获取相关机构</div>
				</div>
				<button lay-filter="edit" lay-submit style="display: none;"></button>
			</form>
		</div>