<!DOCTYPE html>
<html lang="en">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
        <title>404</title>
        <link rel="stylesheet" type="text/css" href="css/error.css"/>
    </head>
    <!-- END HEAD -->
<body class=" page-error-full-page">
<div class="row">
    <div class="col-md-12 page-error">
        <div class=" number font-red"> 404 </div>
        <div class=" details">
            <h3>抱歉，页面无法访问...</h3>
            <p> 可能原因：网址有错误 > 请检查地址是否完整或存在多余字符；
                <br/>
                网址已失效 > 可能页面已删除，活动已下线等
            </p>
            <p>
                <a href="/admin/index" class="btn red btn-outline"> 返回首页 </a>
                <br> </p>
        </div>
    </div>
</div>
</body>
</html>