
<div style="margin: 15px;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">退回原因</label>
            <div class="layui-input-block">
                <textarea type="text" id="denyReason" name="denyReason" lay-verify="required" autocomplete="off" placeholder="请输入退回原因" class="layui-textarea" rows="4"></textarea>
            </div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>