
<div style="margin: 15px;">
    <form class="layui-form" action="">
        <div style="margin-left: 15px">
            <div style="display: inline" id="isSyncAmsDiv"><input type="checkbox" id="isSyncAms" name="isSyncAms" lay-skin="primary" title="人行账管系统"></div>
            <div style="display: inline" id="isSyncEccsDiv"><input type="checkbox" id="isSyncEccs" name="isSyncEccs" lay-skin="primary" title="信用机构系统"></div>
            <div style="display: none" id="syncMessage">该数据无需上报人行账管系统或信用机构系统！</div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>