<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">姓名</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="operatorName" id="operatorName">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">证件类型</label>
            <div class="col-md-8">
                <select name="operatorIdcardType" class="layui-input" id="operatorIdcardType">
                    <option value=""></option><option value="1">1-身份证</option><option value="2">2-军官证</option><option value="3">3-文职干部证</option><option value="4">4-警官证</option><option value="5">5-士兵证</option><option value="6">6-护照</option><option value="7">7-港、澳、台居民通行证</option><option value="9">9-其它合法身份证件</option><option value="8">8-户口簿</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">证件号码</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="operatorIdcardNo" id="operatorIdcardNo">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">证件到期日</label>
            <div class="col-md-8">
                <input type="text" name="operatorIdcardDue" id="operatorIdcardDue" placeholder="请选择日期" autocomplete="off" class="layui-input date-picker"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">手机号码</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="operatorTelephone" id="operatorTelephone">
            </div>
        </div>
    </div>
</div>