<div class="row">
    <div class="col-sm-2">
        <label class="cus-layui-form-label" >受理回执:</label>
    </div>
    <div class="col-sm-10">
        <label class="cus-3-layui-form-label"  id="applynote"> </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label class="cus-layui-form-label " >受理日期:</label>
    </div>
    <div class="col-sm-10">
        <label class="cus-3-layui-form-label"  id="banktime"> </label>
    </div>

</div>

<div class="row">
    <div class="col-sm-2">
        <label class="cus-layui-form-label "  >预约人员:</label>
    </div>
    <div class="col-sm-4">
        <label class="cus-3-layui-form-label" id="operator"> </label>
    </div>
    <div class="col-sm-2">
        <label class="cus-layui-form-label " >开户性质:</label>
    </div>
    <div class="col-sm-4">
        <label class="cus-3-layui-form-label" id="type"> </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label class="cus-layui-form-label " >预约手机:</label>
    </div>
    <div class="col-sm-4">
        <label class="cus-3-layui-form-label" id="phone"> </label>
    </div>
    <div class="col-sm-2">
        <label class="cus-layui-form-label " >预约时间:</label>
    </div>
    <div class="col-sm-4">
        <label class="cus-3-layui-form-label"  id="applytime"> </label>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label class="cus-layui-form-label " >预约网点:</label>
    </div>
    <div class="col-sm-4">
        <label class="cus-3-layui-form-label"  id="branch"> </label>
    </div>
    <div class="col-sm-2">
        <label class="cus-layui-form-label " >预约编号:</label>
    </div>
    <div class="col-sm-4">
        <label class="cus-3-layui-form-label"  id="applyid"> </label>
    </div>
</div>