<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">资金管理人姓名</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="fundManager" id="fundManager">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">资金管理人身份证种类</label>
            <div class="col-md-8">
                <select name="fundManagerIdcardType" class="layui-input" id="fundManagerIdcardType">
                    <option value=""></option><option value="1">1-身份证</option><option value="2">2-军官证</option><option value="3">3-文职干部证</option><option value="4">4-警官证</option><option value="5">5-士兵证</option><option value="6">6-护照</option><option value="7">7-港、澳、台居民通行证</option><option value="9">9-其它合法身份证件</option><option value="8">8-户口簿</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">资金管理人身份证编号</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="fundManagerIdcardNo" id="fundManagerIdcardNo">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">联系电话</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="fundManagerTelephone" id="fundManagerTelephone">
            </div>
        </div>
    </div>
</div>
