<div style="margin-top: 1px; margin-bottom: 8px; font-size: 11px">
    <div style="margin-top: 10px" id="statusDiv" >操作类型：<span id="statusSpan"></span></div>
    <div style="margin-top: 10px; margin-bottom: 10px; display: none" id="billNoDiv">流水号：<span id="billNoSpan"></span></div>
    <div style="margin-top: 10px; margin-bottom: 10px; display: none" id="billDateDiv">单据日期：<span id="billDateSpan"></span></div>
    <div style="margin-top: 10px; margin-bottom: 10px; display: none" id="syncPbcErrorDiv">人行账管失败原因：<span id="syncPbcErrorSpan"></span></div>
    <div style="margin-top: 10px; margin-bottom: 10px; display: none" id="syncEccsErrorDiv">机构信用代码证失败原因：<span id="syncEccsErrorSpan"></span></div>
    <div style="margin-top: 10px; margin-bottom: 10px; display: none" id="syncImageErrorDiv">影像失败原因：<span id="syncImageErrorSpan"></span></div>
</div>

<div style="margin-bottom: 10px">
    <div style="display: none; margin-left: 8px; width: 80px" class="btn green btn-outline" id="acctChangeBtn" onclick="acctChangeClick()"><span>账户变更</span></div>
    <div style="display: none; margin-left: 8px; width: 80px" class="btn green btn-outline" id="acctSuspendBtn" onclick="acctSuspendClick()"><span>账户久悬</span></div>
    <div style="display: none; margin-left: 8px; width: 80px" class="btn green btn-outline" id="acctRevokeBtn" onclick="acctRevokeClick()"><span>账户销户</span></div>
    <div style="display: none; margin-left: 8px; width: 80px" class="btn green btn-outline" id="acctGoNormalBtn"><span>转正常</span></div>
    <div style="display: none; margin-left: 8px; width: 80px" class="btn green btn-outline" id="acctWhiteListGoNormalBtn"  onclick="toNomarlClick()"><span>转正常</span></div>
</div>