<div style="margin: 15px;" class="image-edit">
    <form class="layui-form" action="">
       
        <div class="layui-form-item">
            <label class="layui-form-label">证件名称</label>
            <div class="layui-input-block">
                    <input type="text" id="fileName" name="fileName" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">证件编号</label>
            <div class="layui-input-block">
                <input type="text" id="fileNo" name="fileNo" lay-verify="required" placeholder="请输入证件编号" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">证件日期</label>
            <div class="layui-input-block">
                <input type="text" id="maturityDate" name="maturityDate" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="docCodeDiv" style="display: none;">
            <label class="layui-form-label">影像类型</label>
            <div class="layui-input-block">
                <select name="docCode" class="layui-input" id="docCode">
                </select>
            </div>
        </div>
        <input type="hidden" id="id" name="id" >
        <input type="hidden" id="type" name="type" >
        <input type="hidden" id="tempId" name="tempId" >
        <input type="hidden" id="acctId" name="acctId" >
        <input type="hidden" id="acctBillsId" name="acctBillsId" >
        <input type="hidden" id="imageTypeId" name="imageTypeId" >
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>