<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">内设部门名称</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="insideDeptName" id="insideDeptName">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">负责人姓名</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="insideLeadName" id="insideLeadName">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">负责人身份证件种类</label>
            <div class="col-md-8">
                <select name="insideLeadIdcardType" class="layui-input" id="insideLeadIdcardType">
                    <option value=""></option><option value="1">1-身份证</option><option value="2">2-军官证</option><option value="3">3-文职干部证</option><option value="4">4-警官证</option><option value="5">5-士兵证</option><option value="6">6-护照</option><option value="7">7-港、澳、台居民通行证</option><option value="9">9-其它合法身份证件</option><option value="8">8-户口簿</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">负责人身份证件编号</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="insideLeadIdcardNo" id="insideLeadIdcardNo">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">联系电话</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="insideTelephone" id="insideTelephone">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">邮政编码</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="insideZipcode" id="insideZipcode" maxlength="6">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-4">地址</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="insideAddress" id="insideAddress">
            </div>
        </div>
    </div>
</div>
