<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">组织机构类别<span id="orgTypeSpan" style="color: red; padding-left: 5px">*</span></label>
            <div class="col-md-8">
                <div id="orgSelect" class="reg-select"></div>
                <input type="hidden" class="layui-input" placeholder="" name="orgType" id="orgType">
                <input type="hidden" class="layui-input" placeholder="" name="orgTypeDetail" id="orgTypeDetail">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">组织机构代码</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="orgCode" id="orgCode">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">组织机构证到期日</label>
            <div class="col-md-4">
                <input type="text" name="orgCodeDue" id="orgCodeDue" placeholder="请选择日期" autocomplete="off" class="layui-input date-picker"/>
            </div>
        </div>
    </div>
</div>