<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-2">经济行业分类<span id="economyIndustrySpan" style="color: red; padding-left: 5px">*</span></label>
            <div class="col-md-10">
                <div id="economyIndustrySelect" class="reg-select"></div>
                <input type="hidden" class="layui-input" placeholder="" name="economyIndustryName"
                       id="economyIndustryName">
                <input type="hidden" class="layui-input" placeholder="" name="economyIndustryCode"
                       id="economyIndustryCode">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">经济类型</label>
            <div class="col-md-8">
                <select name="economyType" class="layui-input" id="economyType">
                    <option value=""></option><option value="10">10-内资</option><option value="11">11-国有全资</option><option value="12">12-集体全资</option><option value="13">13-股份合作</option><option value="14">14-联营</option><option value="15">15-有限责任公司</option><option value="16">16-股份有限公司</option><option value="17">17-私有</option><option value="19">19-其它内资</option><option value="20">20-港澳台投资</option><option value="21">21-内地和港澳台投资</option><option value="22">22-内地和港澳台合作</option><option value="23">23-港澳台独资</option><option value="24">24-港澳台投资股份有限公司</option><option value="29">29-其他港澳台投资</option><option value="30">30-国外投资</option><option value="31">31-中外合资</option><option value="33">33-外资</option><option value="32">32-中外合作</option><option value="34">34-国外投资股份有限公司</option><option value="39">39-其他国外投资</option><option value="90">90-其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">企业规模</label>
            <div class="col-md-8">
                <select name="corpScale" class="layui-input" id="corpScale">
                    <option value=""></option><option value="2">2-大型企业</option><option value="3">3-中型企业</option><option value="4">4-小型企业</option><option value="5">5-微型企业</option><option value="9">9-其他</option>
                </select>
            </div>
        </div>
    </div>
</div>


