<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-2">单位名称：</label>
            <div class="col-sm-4">
                <label class="cus-3-layui-form-label"  id="parCorpName"> </label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-3-layui-form-label col-md-2">基本户开户许可核准号：</label>
            <div class="col-sm-4">
                <label class="cus-3-layui-form-label"  id="parAccountKey"> </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-2">法定代表人(负责人)：</label>
            <div class="col-sm-4">
                <label class="cus-3-layui-form-label"  id="parLegalType"> </label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-2">姓名：</label>
            <div class="col-sm-4">
                <label class="cus-3-layui-form-label"  id="parLegalName"> </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-2">证件类型：</label>
            <div class="col-sm-4">
                <label class="cus-3-layui-form-label"  id="parLegalIdcardType"> </label>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-2">证件号码：</label>
            <div class="col-sm-4">
                <label class="cus-3-layui-form-label"  id="parLegalIdcardNo"> </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="cus-layui-form-label col-md-2">组织机构代码：</label>
            <div class="col-sm-4">
                <label class="cus-3-layui-form-label"  id="parOrgCode"> </label>
            </div>
        </div>
    </div>
</div>