<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">存款人名称<span id="depositorNameSpan" style="color: red; padding-left: 5px">*</span></label>
            <div class="col-xs-9 col-md-10">
                <input type="text" class="layui-input" placeholder="" name="depositorName" id="depositorName" required lay-verify="required" onpropertychange="cop()" oninput="cop()" >
            </div>
        </div>
    </div>
</div>
<div class="row" id="acctShortNameDiv">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">存款人简称</label>
            <div class="col-xs-9 col-md-10">
                <input type="text" class="layui-input" placeholder="" name="acctShortName" id="acctShortName" >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">存款人类别</label>
            <div class="col-xs-9 col-md-8">
                <select name="depositorType" class="layui-input" id="depositorType" lay-filter="depositorType">
                    <option value="">请选择</option>
                    <option value="01">01-企业法人</option>
                    <option value="02">02-非法人企业</option>
                    <option value="03">03-机关</option>
                    <option value="04">04-实行预算管理的事业单位</option>
                    <option value="05">05-非预算管理的事业单位</option>
                    <option value="06">06-团级(含)以上军队及分散执勤的支(分)队</option>
                    <option value="07">07-团级(含)以上武警部队及分散执勤的支(分)队</option>
                    <option value="08">08-社会团体</option>
                    <option value="09">09-宗教组织</option>
                    <option value="10">10-民办非企业组织</option>
                    <option value="11">11-外地常设机构</option>
                    <option value="12">12-外国驻华机构</option>
                    <option value="13">13-有字号的个体工商户</option>
                    <option value="14">14-无字号的个体工商户</option>
                    <option value="15">15-居民委员会、村民委员会、社区委员会</option>
                    <option value="16">16-单位设立的独立核算的附属机构</option>
                    <option value="17">17-其他组织</option>
                    <option value="20">20-境外机构</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">机构英文名称</label>
            <div class="col-xs-9 col-md-8">
                <input type="text" class="layui-input" placeholder="" name="orgEnName" id="orgEnName" >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">注册地址(省市区)</label>
            <div class="col-xs-9 col-md-10">
                <input type="hidden" value="1" class="layui-input" placeholder="" name="regCountry" id="regCountry">
                <input type="hidden" class="layui-input" placeholder="" name="regProvinceChname" id="regProvinceChname">
                <input type="hidden" class="layui-input" placeholder="" name="regCityChname" id="regCityChname">
                <input type="hidden" class="layui-input" placeholder="" name="regAreaChname" id="regAreaChname">
                <div id="regAddressDiv" class="account-address"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">注册地址(详细地址)</label>
            <div class="col-xs-9 col-md-10">
                <input type="text" class="layui-input" placeholder="" name="regAddress" id="regAddress" >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">工商注册地址</label>
            <div class="col-xs-9 col-md-10">
                <input type="text" class="layui-input" placeholder="" name="regFullAddress" id="regFullAddress" >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">注册地地区代码</label>
            <div class="col-xs-9 col-md-8">
                <input type="text" class="layui-input" placeholder="" name="regAreaCode" id="regAreaCode" maxlength="6" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">行业归属</label>
            <div class="col-xs-9 col-md-8">
                <select name="industryCode" class="layui-input" id="industryCode" >
                    <option value=""></option>
                    <option value="A$$农、林、牧、渔业$$第一产业            $$1">A：农、林、牧、渔业</option>
                    <option value="B$$采矿业$$第二产业            $$2">B：采矿业</option>
                    <option value="C$$制造业$$第二产业            $$2">C：制造业</option>
                    <option value="D$$电力、煤气及水的生产和供应业$$第二产业            $$2">D：电力、煤气及水的生产和供应业</option>
                    <option value="E$$建筑业$$第二产业            $$2">E：建筑业</option>
                    <option value="F$$交通运输、仓储及邮政业$$第一层次            $$3">F：交通运输、仓储及邮政业</option>
                    <option value="G$$信息传输、计算机服务和软件业$$第二层次            $$4">G：信息传输、计算机服务和软件业</option>
                    <option value="H$$批发和零售业$$第二层次            $$4">H：批发和零售业</option>
                    <option value="I$$住宿和餐饮业$$第二层次            $$4">I：住宿和餐饮业</option>
                    <option value="J$$金融业$$第二层次            $$4">J：金融业</option>
                    <option value="K$$房地产业$$第二层次            $$4">K：房地产业</option>
                    <option value="L$$租赁和商务服务业$$第二层次            $$4">L：租赁和商务服务业</option>
                    <option value="M$$科学研究、技术服务和地质勘查业$$第三层次            $$5">M：科学研究、技术服务和地质勘查业</option>
                    <option value="N$$水利、环境和公共设施管理业$$第三层次            $$5">N：水利、环境和公共设施管理业</option>
                    <option value="O$$居民服务和其他服务业$$第三层次            $$5">O：居民服务和其他服务业</option>
                    <option value="P$$教育$$第三层次            $$5">P：教育</option>
                    <option value="Q$$卫生、社会保障和社会福利业$$第三层次            $$5">Q：卫生、社会保障和社会福利业</option>
                    <option value="R$$文化、体育和娱乐业$$第三层次            $$5">R：文化、体育和娱乐业</option>
                    <option value="S$$公共管理和社会组织$$第四层次            $$6">S：公共管理和社会组织</option>
                    <option value="T$$国际组织（其他行业）$$第四层次            $$6">T：国际组织（其他行业）</option>
                    <option value="U$$其他$$第一层次            $$3">U：其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">登记部门</label>
            <div class="col-xs-9 col-md-8">
                <select name="regOffice" class="layui-input" id="regOffice" >
                    <option value=""></option>
                    <option value="G">G-工商部门</option>
                    <option value="R">R-人民银行</option>
                    <option value="M">M-民政部门</option>
                    <option value="B">B-机构编制部门</option>
                    <option value="S">S-司法行政部门</option>
                    <option value="W">W-外交部门</option>
                    <option value="Z">Z-宗教部门</option>
                    <option value="Q">Q-其他</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">登记注册号类型</label>
            <div class="col-xs-9 col-md-8">
                <select name="regType" class="layui-input" id="regType" >
                    <option value=""></option>
                    <option value="01">01-工商注册号</option>
                    <option value="02">02-机关和事业单位登记号</option>
                    <option value="03">03-社会团体登记号</option>
                    <option value="04">04-民办非企业单位登记号</option>
                    <option value="05">05-基金会登记号</option>
                    <option value="06">06-宗教活动场所登记号</option>
                    <option value="07">07-统一社会信用代码</option>
                    <option value="08">08-商事与非商事登记证号</option>
                    <option value="99">99-其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">登记注册号码</label>
            <div class="col-xs-9 col-md-8">
                <input type="text" class="layui-input" placeholder="" name="regNo" id="regNo">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4" >证明文件1种类</label>
            <div class="col-xs-9 col-md-8">
                <select name="fileType" class="layui-input" id="fileType" >
                    <option value=""></option>
                    <option value="00">社会统一信用代码</option>
                    <option value="01">工商营业执照</option>
                    <option value="02">批文</option>
                    <option value="03">登记证书</option>
                    <option value="04">开户证明</option>
                    <option value="05">其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">证明文件1编号</label>
            <div class="col-xs-9 col-md-8">
                <input type="text" class="layui-input" placeholder="" name="fileNo" id="fileNo" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">证明文件2种类</label>
            <div class="col-xs-9 col-md-8">
                <select name="fileType2" class="layui-input" id="fileType2" >
                    <option value=""></option>
                    <option value="02">02-批文</option>
                    <option value="03">03-登记证书</option>
                    <option value="04">04-开户证明</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">证明文件2编号</label>
            <div class="col-xs-9 col-md-8">
                <input type="text" class="layui-input" placeholder="" name="fileNo2" id="fileNo2" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">成立日期</label>
            <div class="col-xs-5 col-md-4">
                <input type="text" name="fileSetupDate" id="fileSetupDate" placeholder="请选择日期" class="layui-input date-picker"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">到期日期</label>
            <div class="col-xs-5 col-md-4">
                <input type="text" name="fileDue" id="fileDue" placeholder="请选择日期" class="layui-input date-picker"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">营业执照编号</label>
            <div class="col-xs-9 col-md-8">
                <input type="text" class="layui-input" placeholder="" name="businessLicenseNo" id="businessLicenseNo" >
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">营业执照到期日</label>
            <div class="col-xs-9 col-md-8">
                <input type="text" name="businessLicenseDue" id="businessLicenseDue" placeholder="请选择日期" autocomplete="off" class="layui-input date-picker"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">未标明注册资金</label>
            <div class="col-xs-9 col-md-8">
                <select name="isIdentification" class="layui-input" id="isIdentification" >
                    <option value=""></option>
                    <option value="1">1-是</option>
                    <option value="0">0-否</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">注册资本币种</label>
            <div class="col-xs-9 col-md-8">
                <select name="regCurrencyType" class="layui-input" id="regCurrencyType" >
                    <option value=""></option><option value="CNY">CNY-人民币</option><option value="USD">USD-美元</option><option value="HKD">HKD-港元</option><option value="EUR">EUR-欧元</option><option value="KRW">KRW-韩元</option><option value="JPY">JPY-日元</option><option value="GBP">GBP-英镑</option><option value="SGD">SGD-新加坡元</option><option value="AUD">AUD-澳大利亚元</option><option value="CAD">CAD-加拿大元</option><option value="XEU">XEU-其它货币折美元</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-4">注册资本(元)</label>
            <div class="col-xs-9 col-md-8">
                <input type="text" class="layui-input" placeholder="" name="registeredCapital" id="registeredCapital" >
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">经营范围(人行)<span id="businessScopeSpan"></span></label>
            <div class="col-xs-9 col-md-10">
                <textarea name="businessScope" class="layui-textarea" id="businessScope" rows="4"></textarea>
            </div>
        </div>
    </div>
</div>