<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">机构名称</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="parCorpName" id="parCorpName">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">基本户开户许可核准号</label>
            <div class="col-md-8">
                <input type="text" class="layui-input parGgreg" placeholder="" name="parAccountKey" id="parAccountKey">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">机构信用代码</label>
            <div class="col-md-8">
                <input type="text" class="layui-input parGgreg" placeholder="" name="parOrgEccsNo" id="parOrgEccsNo">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">机构信用证件到期日</label>
            <div class="col-md-4">
                <input type="text" name="parOrgEccsDue" id="parOrgEccsDue" placeholder="请选择日期" autocomplete="off" class="layui-input date-picker"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">组织机构代码</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="parOrgCode" id="parOrgCode">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">登记注册号类型</label>
            <div class="col-md-8">
                <select name="parRegType" class="layui-input" id="parRegType">
                    <option value=""></option><option value="01">01-工商注册号</option><option value="02">02-机关和事业单位登记号</option><option value="03">03-社会团体登记号</option><option value="04">04-民办非企业单位登记号</option><option value="05">05-基金会登记号</option><option value="06">06-宗教活动场所登记号</option><option value="07">07-统一社会信用代码</option><option value="08">08-商事与非商事登记证号</option><option value="99">99-其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">登记注册号码</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="parRegNo" id="parRegNo">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">法人类型</label>
            <div class="col-md-8">
                <select name="parLegalType" class="layui-input" id="parLegalType">
                    <option value=""></option><option value="1">1-法定代表人</option><option value="2">2-单位负责人</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">法人姓名</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="parLegalName" id="parLegalName">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">法人证件类型</label>
            <div class="col-md-8">
                <select name="parLegalIdcardType" class="layui-input" id="parLegalIdcardType">
                    <option value=""></option><option value="1">1-身份证</option><option value="2">2-军官证</option><option value="3">3-文职干部证</option><option value="4">4-警官证</option><option value="5">5-士兵证</option><option value="6">6-护照</option><option value="7">7-港、澳、台居民通行证</option><option value="9">9-其它合法身份证件</option><option value="8">8-户口簿</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">法人证件号码</label>
            <div class="col-md-8">
            	<input type="text" class="layui-input" placeholder="" name="parLegalIdcardNo" id="parLegalIdcardNo">
                <!--<input type="text" class="layui-input" placeholder="" name="parLegalIdcardNo" id="parLegalIdcardNo">-->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">上级法人证件到期日</label>
            <div class="col-md-4">
                <input type="text" name="parLegalIdcardDue" id="parLegalIdcardDue" placeholder="请选择日期" autocomplete="off" class="layui-input date-picker"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-4">联系电话</label>
            <div class="col-md-8">
                <input type="text" class="layui-input" placeholder="" name="parLegalTelephone" id="parLegalTelephone">
            </div>
        </div>
    </div>
</div>