<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../css/layui.css" media="all"/>
    <link rel="stylesheet" href="../css/global.css" media="all">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common.css" media="all">
    <link rel="stylesheet" href="../css/dashboard.css" media="all">
    <link rel="stylesheet" href="../css/webuploader/webuploader.css" />


</head>
<body>
<div class="admin-main">
    <form  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
        <div class="layui-form-item" style="margin-bottom:0px;">

            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="accountNoList">
            </div>

            <label class="layui-form-label">账号类型</label>
            <div class="layui-input-inline">
                <select id="acctTypeList" name="acctTypeList" lay-verify="required">
                    <option value=" ">请选择账号类型</option>
                </select>
            </div>

            <label class="layui-form-label">开户行名</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="bankNameList">
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom:0px;">
            <div class="layui-inline">
                <label class="layui-form-label">开户日期</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="startEndTimeList" placeholder="开始 到 结束">
                </div>
                <label class="layui-form-label">处理状态</label>
                <div class="layui-input-inline">
                    <select id="statusList" name="statusList" lay-verify="required">
                        <option value=" ">请选择处理状态</option>
                        <option value="0">待处理</option>
                        <option value="1">已处理</option>
                    </select>
                </div>
                <button type="button" id="btn_queryList" class="layui-btn layui-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>
    <table id="riskDetailDataTable" class="table table-striped">

    </table>
</div>

<script type="text/javascript" src="../plugins/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../layui.js"></script>
<script type="text/javascript" src="../layui.all.js"></script>
<script type="text/javascript" src="../ag/common/util.js"></script>

<script type="text/javascript" src="../ag/highRisk/highRiskDataCheck.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

</body>

</html>