<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-9">
                <div class="item-thumbnail-left item">
                    <img src="../images/default_logo.png">
                    <h3 class="mt5">{{d.name}}</span>
                        <div class="border-green-meadow dib company-state font-green-meadow">{{d.state}}</div>
                    </h3>
                    <div>{{d.legalpersontype}}:{{d.legalperson}} |
                        注册资本:{{d.registfund}}</div>
                    <div>成立时间:{{d.opendate}} | 地址:{{d.address}}</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dt-buttons">
                    <div class="btn green btn-outline" id="print"><span>打印</span></div>
                    <div class="btn green btn-outline" id="openAccount"><span>开户
							</span></div>
                </div>
            </div>
        </div>
    </div>
</div>