<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../css/layui.css" media="all"/>
    <link rel="stylesheet" href="../css/global.css" media="all">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common.css" media="all">
    <link rel="stylesheet" href="../css/dashboard.css" media="all">
    <link rel="stylesheet" href="../css/webuploader/webuploader.css"/>
    <link rel="stylesheet" href="../css/webuploader/webuploader.css" />
</head>
<body>
<div class="admin-main">
    <form class="layui-form layui-form-pane" onsubmit="javascript:return false;">
        <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">账户号</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="accountId">
            </div>
            <label class="layui-form-label">账户名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="accountName">
            </div>
            <label class="layui-form-label" style="display:inline-block;width:120px;">社会统一编码</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="socialUnifiedCode">
            </div>
            <button type="button" id="btn_query" class="layui-btn layui-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </form>
    <div id="toolbar" class="layui-btn-group">
        <button class="layui-btn layui-btn-small dn" id="btn_add" data-code="apply:whiteList_add">
            <i class="layui-icon">&#xe654;</i>
            新建
        </button>
        <button class="layui-btn layui-btn-small dn" id="btn_edit" data-code="apply:whiteList_edit">
            <i class="layui-icon">&#xe642;</i>
            修改
        </button>
        <button class="layui-btn layui-btn-small dn" id="btn_del" data-code="apply:whiteList_del">
            <i class="layui-icon">&#xe640;</i>
            删除
        </button>
        <button class="layui-btn layui-btn-small dn" id="btn_risk_upload" data-code="apply:whiteList_ex">
            <i class="layui-icon">&#xe640;</i>
            导入
        </button>
        <button class="layui-btn layui-btn-small dn" id="btn_risk_downLoad" data-code="apply:whiteList_ex">
            <i class="layui-icon">&#xe640;</i>
            导出模板
        </button>
    </div>
    <table id="riskWhiteListTable">

    </table>
</div>
<form action="../attach/riskwhitelist_template.xls" method="get" id="templateDownloadForm"></form>
<script type="text/javascript" src="../plugins/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../layui.js"></script>
<script type="text/javascript" src="../ag/common/util.js"></script>
<script type="text/javascript" src="../ag/riskwhiteList/whiteList.js"></script>
<script src="../js/webuploader/webuploader.js" type="text/javascript" ></script>
<script>
</script>
</body>

</html>