<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Table</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../css/layui.css" media="all"/>
    <link rel="stylesheet" href="../css/global.css" media="all">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <style>
        .W120 .th-inner {
        width:120px !important;
        }
        .W80 .th-inner {
        width:80px !important;
        }
        .W60 .th-inner {
        width:60px !important;
        }

        .W160 .th-inner {
        width:160px !important;
        }

        .W180 .th-inner {
        width:180px !important;
        }

        .W200 .th-inner {
        width:200px !important;
        }
    </style>
</head>

<body>
<div class="admin-main">
    <form  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
        <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="acctNo">
            </div>
            <label class="layui-form-label">存款人名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="name">
            </div>
            <label class="layui-form-label">账户性质</label>
            <div class="layui-input-inline">
                <select name="acctType" class="layui-input" id="acctType" lay-filter="acctType">
                    <option value="">请选择</option>
                    <option value="jiben">基本存款账户</option>
                    <option value="yiban">一般存款账户</option>
                    <option value="yusuan">预算单位专用存款账户</option>
                    <option value="feiyusuan">非预算单位专用存款账户</option>
                    <option value="teshu">特殊单位专用存款账户</option>
                    <option value="linshi">临时机构临时存款账户</option>
                    <option value="feilinshi">非临时机构临时存款账户</option>
                    <option value="yanzi">验资户临时存款账户</option>
                    <option value="zengzi">增资户临时存款账户</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom:0px;">
            <label class="layui-form-label">操作类型</label>
            <div class="layui-input-inline">
                <select class="layui-input" id="billType" lay-filter="billType">
                    <option value="">请选择</option>
                    <option value="ACCT_OPEN">开户</option>
                    <option value="ACCT_CHANGE">变更</option>
                    <option value="ACCT_SUSPEND">久悬</option>
                    <option value="ACCT_REVOKE">销户</option>
                    <option value="ACCT_INIT">存量</option>
                </select>
            </div>

            <label class="layui-form-label" style="width: 120px">人行审核状态</label>
            <div class="layui-input-inline">
                <select class="layui-input" id="pbcCheckStatus" lay-filter="pbcCheckStatus">
                    <option value="">请选择</option>
                    <option value="WaitCheck">待审核</option>
                    <option value="CheckPass">审核通过</option>
                    <option value="NoCheck">无需审核</option>
                </select>
            </div>
            <label class="layui-form-label" style="width: 120px">账户上报方式</label>
            <div class="layui-input-inline">
                <select class="layui-input" id="pbcSyncMethod" lay-filter="pbcSyncMethod">
                    <option value="">请选择</option>
                    <option value="personSyncType">手工上报</option>
                    <option value="autoSyncType">自动上报</option>
                    <option value="halfSyncType">手工补录</option>
                </select>
            </div>

            <button type="button" id="btn_query"  class="layui-btn layui-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>

    </form>
    <script type="text/html" id="tpl">
        {{# layui.each(d.list, function(index, item){ }}

        {{# }); }}
    </script>

    <table id="bussinessTable">

    </table>

</div>

<script type="text/javascript" src="../plugins/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../layui.all.js"></script>
<script type="text/javascript" src="../ag/common/util.js"></script>
<script type="text/javascript" src="../ag/common/laydateUtilAll.js"></script>
<script type="text/javascript" src="../ag/accttype/commonAcctType.js"></script>
<script type="text/javascript" src="../ag/company/addBusiness.js"></script>
</body>

</html>