.filter-container {
    margin-bottom: 20px;
}
.filter-container .txt {
    display: block;
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
    padding: 0 15px;
    line-height: 55px;
    border: none;
    background-color: #f3f6f9;
}
.filter-container .btn {
    width: 130px;
    height: 55px;
    margin-bottom: 20px;
    color: #FFF;
    background-color: #3598dc;
    border: none;
    font-size: 16px;
}

.filter-container .txt-box {
    position: relative;
}
.filter-container .placeholder{
    position: absolute;
    top: 17px;
    left: 15px;
    color: #aaa;
    display: none;
}

.filter-container .search-bar {
    position: relative;
    overflow: hidden;
}
.filter-container .search-bar .txt-box {
    margin-right: 130px;
}
.filter-container .search-bar .txt {
    display: block;
    width: 100%;
    height: 55px;
    padding: 0 15px;
    line-height: 55px;
    border: none;
    background-color: #f3f6f9;
}

.filter-container .search-bar .btn {
    position: absolute;
    top: 0;
    right: 0;
}

.tab-pane>.tab-content {
    border-top: 1px solid #eef1f5;
    padding-top: 30px;
}

.result-text {
    text-align: center;
    color: #999;
}

.result-text i{
    vertical-align: middle;
    font-size: 50px;
    color: #19be6b;
}
.result-text i.red {
    color: #ed4014;
}

.no-img {
    width: 120px;
    height: 160px;
    line-height: 160px;
    border: 1px solid #ccc;
    text-align: center;
}

.img {
    width: 120px;
    height: 160px;
    border: 1px solid #ccc;
}

.rwhc-box {
    border: 1px solid #ccc;
    width: 600px;
    padding: 20px;
}
.rwhc-table {
    width: 100%;
}
.rwhc-table th {
    padding: 5px;
    text-align: right;
}
.rwhc-table td {
    padding: 5px;
    vertical-align: top;
    text-align: right;
}
.rwhc-table .no-img {
    display: inline-block;
    width: 150px;
    height: 200px;
    line-height: 200px;
    border: 1px solid #ccc;
    text-align: center;
}
.rwhc-table .img {
    width: 150px;
    height: 200px;
    border: 1px solid #ccc;
}
.rwhc-type {
    padding-top: 15px;
}
.rwhc-type dt {
    width: 102px;
    float: left;
}
.rwhc-type dd {
    width: 500px;
    float: left;
}
.rwhc-btns {
    clear: both;
    padding-top: 15px;
}
.rwhc-result i{
    vertical-align: middle;
    font-size: 50px;
    color: #19be6b;
}
.rwhc-result i.red {
    color: #ed4014;
}

.font-green-meadow {
    color: #1BBC9B !important; }
.border-green-meadow {
    border-color: #1BBC9B !important; }