<div style="margin: 15px;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">风险类型</label>
            <div class="layui-input-block">
                <input type="text" name="typeId" lay-verify="required" autocomplete="off" placeholder="请输入风险类型" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">风险规则</label>
            <div class="layui-input-block">
                <input type="text" name="ruleId" lay-verify="required" autocomplete="off" placeholder="请输入风险规则" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">风险等级</label>
            <div class="layui-input-block">
                <input type="text" name="levelId" lay-verify="required" autocomplete="off" placeholder="请输入风险等级" class="layui-input">
            </div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>