<div class="row">
    <div class="col-md-6" style="width: 100%">
        <div  id="toolbar" class="layui-btn-group">
            <div class="btn-group dropdown-div">
                <button type="button" class=" layui-btn layui-btn-small" id="dropdownMenu1" data-toggle="dropdown"> 查看影像
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="docCodeLi">
                    <li role="presentation"><a role="menuitem2" tabindex="-1" href="javascript:void(0);" onclick ="image_Query()">所有影像</a></li>
                </ul>
            </div>
            <button class="layui-btn layui-btn-small" id="btn_shaomiao">
                扫描
            </button>
            <button class="layui-btn layui-btn-small" id="btn_imageDelete">
                删除
            </button>
            <button class="layui-btn layui-btn-small" id="btn_downLoadImage">
                下载
            </button>
            <button class="layui-btn layui-btn-small" id="btn_downLoadBetchImage">
                批量下载
            </button>
            <button class="layui-btn layui-btn-small" id="btn_uploadImage">
                导入
            </button>
            <button class="layui-btn layui-btn-small" id="btn_reccordImage">
                补录
            </button>
            <button class="layui-btn layui-btn-small" id="btn_uploadToImage">
                上报
            </button>
        </div>
    </div>
    <!--<div class="layui-hide">
        <input class="layui-btn layui-btn-small layui-upload-file" type="file" lay-type="file" name="file" id="file"></input>
    </div>-->
</div>

<div class="row" style="width: 100%">
    <div id="imgBox">
        <img src="">
    </div>
    <div class="min_pic imgLiet" id="demo1">
        <div class="prev_btn1" id="prev_btn1">
            <img src="../images/feel3.png" width="9" height="18" />
        </div>
        <div class="num clearfix imgLiet" id="ban_num1">
            <ul id="ulLent">
            </ul>
        </div>
        <div class="next_btn1" id="next_btn1">
            <img src="../images/feel4.png" width="9" height="18" />
        </div>
    </div>

</div>