<div style="margin: 15px;">
	<form class="layui-form" action="">
		<div hidden="hidden">
			<input type="text" id="msgId1" name="msgId" class="myHidden" hidden>
			<input type="text" id="instgDrctPty1" name="instgDrctPty" class="myHidden" hidden>
			<input type="text" id="instgPty1" name="instgPty" class="myHidden" hidden>
			<input type="text" id="myId" name="announcementInformationId" class="myHidden" hidden>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">附加信息 <span style="color: red; padding-left: 5px">*</span></label>
			<div class="layui-input-block">
				<textarea id="msgCntt1" name="msgCntt" class="layui-textarea" rows="10" lay-verify="required|content" maxlength="" style="resize:none" ></textarea>
			</div>
		</div>
		<button lay-filter="edit" lay-submit style="display: none;"></button>
	</form>
</div>