<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/modules/jquery-validation/validate.css">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/global.css" media="all">
    <link rel="stylesheet" href="../css/dashboard.css" media="all">
</head>
<body class="page-content">
<div >
    <div class="portlet light bordered">

        <form  class="layui-form layui-form-pane" onsubmit="javascript:return false;">
            <div class="layui-form-item" style="margin-bottom:0px;">

                <label class="layui-form-label">报文标识号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="msgId">
                </div>

                <label class="layui-form-label">回复标识</label>
                <div class="layui-input-inline">
                    <select id="rplyFlag" name="rplyFlag" class="layui-input">
                        <option value="">请选择</option>
                        <option value="">请选择</option>
                        <option value="RPLY">需要回复</option>
                        <option value="NRPL">无需回复</option>
                    </select>
                </div>

                <label class="layui-form-label">信息内容</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="msgCntt">
                </div>

            </div>
            <div class="layui-form-item" style="margin-bottom:0px;">

                <label class="layui-form-label">发送时间</label>
                <div class="layui-input-inline">
                    <input type="text" autocomplete="off" class="layui-input date-picker" id="beginDate" name="beginDate" placeholder="开始时间"/>
                </div>
                <div class="layui-input-inline">
                    <input type="text" autocomplete="off" class="layui-input date-picker" id="endDate" name="endDate" placeholder="结束时间"/>
                </div>

                <button type="button" id="btn_query"  class="layui-btn layui-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
            </div>
        </form>

        <div  id="toolbar" class="layui-btn-group">
            <button class="layui-btn layui-btn-small" id="btn_confirm" data-code="network:announcementInformation-confirm">
                <i class="layui-icon">&#xe605;</i>
                公告确认
            </button>
            <button class="layui-btn layui-btn-small" id="btn_confirm_log" data-code="network:announcementInformation-confirm-log">
                <i class="layui-icon">&#xe60a;</i>
                确认记录
            </button>
        </div>

        <table id="list"></table>
    </div>
</div>

<!--[if lt IE 9]>
<script src="../plugins/respond.min.js"></script>
<script src="../plugins/excanvas.min.js"></script>
<script src="../plugins/ie8.fix.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../plugins/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../layui.js"></script>
<script type="text/javascript" src="../ag/common/util.js"></script>
<script type="text/javascript" src="../ag/common/laydateUtil.js"></script>
<script type="text/javascript" src="../ag/accttype/commonAcctType.js"></script>
<script type="text/javascript" src="../ag/networkVerify/networkVerifiedCommon.js"></script>
<script type="text/javascript" src="../ag/networkVerify/announcementInformation.js"></script>

</body>

</html>