<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/modules/jquery-validation/validate.css">
    <link rel="stylesheet" href="../css/layui.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body class="page-content">

<form class="form-horizontal layui-form" id="editForm">

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="fa fa-vcard-o font-dark"></i>
                <span class="caption-subject uppercase">登记信息联网核查</span>
            </div>
        </div>
        <div class="portlet-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-4">市场主体类型</label>
                        <div class="col-xs-7 col-md-6">
                            <select id="myType" lay-filter="myType" class="layui-input">
                                <option value="0">企业</option>
                                <option value="1">个体工商户</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--企业-->
            <div id="ent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-md-4">企业名称</label>
                            <div class="col-xs-7 col-md-6">
                                <input type="text" id="entNm" name="entNm" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-md-4">统一社会信用代码</label>
                            <div class="col-xs-7 col-md-6">
                                <input type="text" id="uniSocCdtCd1" name="uniSocCdtCd1" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-md-4">法定代表人或单位负责人姓名</label>
                            <div class="col-xs-7 col-md-6">
                                <input type="text" id="nmOfLglPrsn" name="nmOfLglPrsn" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row legal">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-md-4">法定代表人或单位负责人身份证件号</label>
                            <div class="col-xs-7 col-md-6">
                                <input type="text" id="idOfLglPrsn" name="idOfLglPrsn" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--个体工商户-->
            <div id="slfEplydPpl" hidden>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-md-4">字号名称</label>
                            <div class="col-xs-7 col-md-6">
                                <input type="text" id="traNm" name="traNm" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-md-4">统一社会信用代码</label>
                            <div class="col-xs-7 col-md-6">
                                <input type="text" id="uniSocCdtCd2" name="uniSocCdtCd2" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-md-4">经营者姓名</label>
                            <div class="col-xs-7 col-md-6">
                                <input type="text" id="nm" name="nm" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-xs-3 col-md-4">经营者证件号</label>
                            <div class="col-xs-7 col-md-6">
                                <input type="text" id="managerId" name="managerId" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--公共-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-4">代理人姓名</label>
                        <div class="col-xs-7 col-md-6">
                            <input type="text" id="agtNm" name="agtNm" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-4">代理人身份证件号码</label>
                        <div class="col-xs-7 col-md-6">
                            <input type="text" id="agtId" name="agtId" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-4">操作员姓名</label>
                        <div class="col-xs-7 col-md-6">
                            <input type="text" id="opNm" name="opNm" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-4"></label>
                        <div class="col-xs-7 col-md-6">
                            <button type="button" class="layui-btn layui-btn" id="btnSubmit">提交</button>
                            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light bordered" id="result" hidden style="margin-top: 20px">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="fa fa-book font-dark"></i>
                        <span class="caption-subject uppercase">查询结果</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-bordered word-break" id="success" hidden>
                        <tbody id="vrfctnInf">

                        </tbody>
                    </table>
                    <!--失败-->
                    <table class="table table-bordered word-break" id="fail" hidden>
                        <tbody>
                        <tr>
                            <td class="td-label">申请报文拒绝状态：</td>
                            <td class="td-label-right" id="procSts"></td>
                            <td class="td-label">申请报文拒绝码：</td>
                            <td class="td-label-right" id="procCd"></td>
                        </tr>
                        <tr>
                            <td class="td-label">申请报文拒绝信息：</td>
                            <td class="td-label-right" colspan="3" id="rjctInf"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


</form>

<!--[if lt IE 9]>
<script src="../plugins/respond.min.js"></script>
<script src="../plugins/excanvas.min.js"></script>
<script src="../plugins/ie8.fix.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../plugins/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap.min.js"></script>
<script type="text/javascript" src="../layui.all.js"></script>
<script type="text/javascript" src="../plugins/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript" src="../plugins/jquery-validation/additional-methods.js"></script>
<script type="text/javascript" src="../plugins/jquery-validation/localization/messages_zh.js"></script>
<script type="text/javascript" src="../ag/common/util.js"></script>
<script type="text/javascript" src="../ag/accttype/commonAcctType.js"></script>
<script type="text/javascript" src="../ag/networkVerify/networkVerifiedCommon.js"></script>
<script type="text/javascript" src="../ag/networkVerify/registerInformation.js"></script>

</body>

</html>