<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>重新年检结果</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <link href="../plugins/open-sans-all/css/open-sans.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/layui.css" media="all"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link href="../plugins/datatable/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/datatable/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../plugins/datatable/css/datatable.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="../css/common.css" media="all"/>
    <link rel="stylesheet" href="../css/kyc.css" media="all"/>
</head>
<body>

<div class="row">
    <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-body">
                <table id="annualAgainResultTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>账户</th>
                        <th>客户名称</th>
                        <th>手动提交结果</th>
                        <th>失败原因</th>
                        <th>结果明细</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--<table id="annualAgainResultTable" class="table table-striped table-bordered"></table>-->

<!--[if lt IE 9]>
<script src="../plugins/respond.min.js"></script>
<script src="../plugins/excanvas.min.js"></script>
<script src="../plugins/ie8.fix.min.js"></script>
<script src="../plugins/es5.js"></script>
<![endif]-->

<script type="text/javascript" src="../plugins/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../layui.js"></script>
<script type="text/javascript" src="../ag/annualcheck/againResult.js"></script>
</body>
</html>