<div>

    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">核心信息</li>
            <li>人行信息</li>
            <li>工商信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-book font-dark"></i>
                            <span class="caption-subject uppercase">{{'基本信息'}}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered word-break">
                            <tbody>
                            <tr>
                                <td class="td-label">账号：</td>
                                <td class="td-label-right">{{d.core.acctNo || ''}}</td>
                                <td class="td-label">企业名称：</td>
                                <td class="td-label-right">{{d.core.depositorName || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">组织机构代码证：</td>
                                <td class="td-label-right">{{d.core.orgCode || ''}}</td>
                                <td class="td-label">注册号：</td>
                                <td class="td-label-right">{{d.core.regAreaCode || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">法定代表人：</td>
                                <td class="td-label-right">{{d.core.legalName || ''}}</td>
                                <td class="td-label">开户日期：</td>
                                <td class="td-label-right">{{d.core.acctCreateDate || ''}}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label">注册资本：</td>
                                <td class="td-label-right">{{d.core.registeredCapitalStr || d.core.registeredCapital || ''}}</td>
                                <td class="td-label">账户状态：</td>
                                <td class="td-label-right">{{d.core.accountStatus || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">企业地址：</td>
                                <td class="td-label-right" colspan="3">{{d.core.regFullAddress || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">经营范围：</td>
                                <td class="td-label-right" colspan="3">{{d.core.businessScope || ''}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                {{#  if( d.core.reportList != null && d.core.reportList.length !== 0){ }}
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-newspaper-o font-dark"></i>
                            <span class="caption-subject uppercase">企业年报信息</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered word-break table-simple">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>报送年度</th>
                                <th>发布时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#  layui.each(d.core.reportList, function(index, item){ }}
                            <tr>
                                <td>{{ item.index  || ''  }}</td>
                                <td>{{ item.year  || ''  }}</td>
                                <td>{{ item.date || '' }}</td>
                            </tr>
                            {{#  }); }}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                {{#  } }}

            </div>
            <div class="layui-tab-item">

                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-book font-dark"></i>
                            <span class="caption-subject uppercase">{{'基本信息'}}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered word-break">
                            <tbody>
                            <tr>
                                <td width="150" class="td-label">账号：</td>
                                <td width="150" class="td-label-right">{{d.pbc.acctNo || ''}}</td>
                                <td width="150" class="td-label">企业名称：</td>
                                <td width="150" class="td-label-right">{{d.pbc.depositorName || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">组织机构代码证：</td>
                                <td class="td-label-right">{{d.pbc.orgCode || ''}}</td>
                                <td class="td-label">工商注册号：</td>
                                <td class="td-label-right">{{d.pbc.fileNo || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">法定代表人：</td>
                                <td class="td-label-right">{{d.pbc.legalName || ''}}</td>
                                <td class="td-label">开户日期：</td>
                                <td class="td-label-right">{{d.pbc.acctCreateDate || ''}}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label">注册资本(元)：</td>
                                <td class="td-label-right">{{d.pbc.registeredCapital || ''}}</td>
                                <td class="td-label">账户状态：</td>
                                <td class="td-label-right">{{accountStatusFormat(d.pbc.accountStatus) || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">企业地址：</td>
                                <td class="td-label-right" colspan="3">{{d.pbc.regAddress || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">经营范围：</td>
                                <td class="td-label-right" colspan="3">{{d.pbc.businessScope || ''}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                {{#  if( d.pbc.reportList != null && d.pbc.reportList.length !== 0){ }}
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-newspaper-o font-dark"></i>
                            <span class="caption-subject uppercase">企业年报信息</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered word-break table-simple">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>报送年度</th>
                                <th>发布时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#  layui.each(d.pbc.reportList, function(index, item){ }}
                            <tr>
                                <td>{{ item.index  || ''  }}</td>
                                <td>{{ item.year  || ''  }}</td>
                                <td>{{ item.date || '' }}</td>
                            </tr>
                            {{#  }); }}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                {{#  } }}

            </div>
            <div class="layui-tab-item">

                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-book font-dark"></i>
                            <span class="caption-subject uppercase">{{'基本信息'}}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered word-break">
                            <tbody>
                            <tr>
                                <!--<td class="td-label">账号：</td>
                                <td class="td-label-right">{{d.acctNo || ''}}</td>-->
                                <td class="td-label">统一社会信用代码：</td>
                                <td class="td-label-right">{{d.saic.unitycreditcode || ''}}</td>
                                <td class="td-label">企业名称：</td>
                                <td class="td-label-right">{{d.saic.name || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">类型：</td>
                                <td class="td-label-right">{{d.saic.type || ''}}</td>
                                <td class="td-label">法定代表人：</td>
                                <td class="td-label-right">{{d.saic.legalperson || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">注册资本：</td>
                                <td class="td-label-right">{{d.saic.registfund || ''}}</td>
                                <td class="td-label">开户日期：</td>
                                <td class="td-label-right">{{d.saic.startdate || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">账户状态：</td>
                                <td class="td-label-right">{{d.saic.state || ''}}</td>
                                <td class="td-label">组织机构代码证：</td>
                                <td class="td-label-right">{{d.saic.orgcode || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">企业地址：</td>
                                <td class="td-label-right" colspan="3">{{d.saic.address || ''}}</td>
                            </tr>
                            <tr>
                                <td class="td-label">经营范围：</td>
                                <td class="td-label-right" colspan="3">{{d.saic.scope || ''}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                {{#  if( d.saic.reports != null && d.saic.reports.length !== 0){ }}
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-newspaper-o font-dark"></i>
                            <span class="caption-subject uppercase">企业年报信息</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered word-break table-simple">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>报送年度</th>
                                <th>发布时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#  layui.each(d.saic.reports, function(index, item){ }}
                            <tr>
                                <td>{{ index }}</td>
                                <td>{{ item.annualreport  || ''  }}</td>
                                <td>{{ item.releasedate || '' }}</td>
                            </tr>
                            {{#  }); }}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                {{#  } }}

                {{#  if( d.saic.changemess != null && d.saic.changemess.length !== 0){ }}
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-newspaper-o font-dark"></i>
                            <span class="caption-subject uppercase">列入经营异常名录信息</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered word-break table-simple">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>列入经营异常名录原因</th>
                                <th>列入日期</th>
                                <th>作出决定机关（列入）</th>
                                <th>移出经营异常名录原因</th>
                                <th>移出日期</th>
                                <th>作出决定机关（移出）</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#  layui.each(d.saic.changemess, function(index, item){ }}
                            <tr>
                                <td>{{ index }}</td>
                                <td>{{ item.inreason  || ''  }}</td>
                                <td>{{ item.indate || '' }}</td>
                                <td>{{ item.belongorg  || ''  }}</td>
                                <td>{{ item.outreason  || ''  }}</td>
                                <td>{{ item.outdate || '' }}</td>
                                <td>{{ ''  }}</td>
                            </tr>
                            {{#  }); }}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                {{#  } }}

                {{#  if( d.saic.illegals != null && d.saic.illegals.length !== 0){ }}
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="fa fa-newspaper-o font-dark"></i>
                            <span class="caption-subject uppercase">列入严重违法失信企业名单（黑名单）信息</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered word-break table-simple">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>类别</th>
                                <th>列入严重违法失信企业名单（黑名单）原因</th>
                                <th>列入日期</th>
                                <th>作出决定机关（列入）</th>
                                <th>移出严重违法失信企业名单（黑名单）原因</th>
                                <th>移出日期</th>
                                <th>作出决定机关（移出）</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#  layui.each(d.saic.illegals, function(index, item){ }}
                            <tr>
                                <td>{{ index }}</td>
                                <td>{{ item.type  || ''  }}</td>
                                <td>{{ item.reason  || ''  }}</td>
                                <td>{{ item.date || '' }}</td>
                                <td>{{ item.organ  || ''  }}</td>
                                <td>{{ item.reasonout  || ''  }}</td>
                                <td>{{ item.dateout || '' }}</td>
                                <td>{{ item.organout  || ''  }}</td>
                            </tr>
                            {{#  }); }}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
                {{#  } }}

            </div>
        </div>
    </div>
</div>